<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='q-settings.css') }}"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Quiz Settings</title>
</head>
<body>
    <div class="logo"></div>
    <h1>Select Quiz Settings</h1>
    <form method="POST" action="{{ url_for('quiz') }}">
        <div class="q-len">
            <div class="input-wrapper">
                <input type="number" id="amount" name="amount" placeholder="0" min="1" max="50" required>
                <div class="input-text">
                    <span>Number of questions</span>
                </div>
            </div>
            <div class="q-op">
                <button onclick="add_question(5)">+5</button><button onclick="add_question(10)">+10</button><button onclick="add_question(15)">+15</button><button onclick="add_question(20)">+20</button>
            </div>
        </div>
        <select id="category" name="category" required>
            <option value="" disabled selected>Select Level Category </option>
            <option value="General Knowledge">General Knowledge</option>
            <option value="Computer">Computers</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Sports">Sports</option>
            <option value="History">History</option>
            <option value="Art">Art</option>
            <option value="Science & Nature">Science & Nature</option>
        </select>
        <select id="difficulty" name="difficulty" required>
            <option value="" disabled selected>Select Level Difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <button type="submit">Start Quiz</button>
    </form>
</body>
</html>